body {
  background: #aaa url('../img/grey-hatch.png') center top repeat;
  font: 100% Helvetica,Arial,sans-serif;
  color: #777;
}

a {
  color: #ddd;
}

ul {
  list-style: none;
}

#footer {
	width: 960px;
	margin: 0px auto 0px;
}

#mysite {
	width: 960px;
	margin: 1em auto 0px;
	line-height: 1.4;
	font-size: 1em;
	height: 200px;
}

/*YUI customizations*/
.yui3-tab {
	border-radius: 5px;
}

.yui3-tab-focused {
	background-color: #777;
	color: #ddd;
}
.yui3-tab-selected {
	background-color: #777;
	color: #ddd;
}
