#footpanel {
	position:fixed; /* fix the panel to the bottom of the viewport */
	bottom: 0;
	left: 0;
	z-index: 9999; /* Keep panel on top */
	background: #e3e2e2;
	border: 1px solid #c3c3c3;
	border-bottom: none;
	width: 94%;
	margin: 0 3%;
}

/* IE6 hack - fixed positioning to the bottom */
*html #footpanel {
	margin-top: -1px; /*prevents ie6 from having an infinity scroll bar due to the 1px border on #footpanel*/
	position: absolute;
	top:expression(eval(document.compatMode &&document.compatMode=='CSS1Compat') ?documentElement.scrollTop+(documentElement.clientHeight-this.clientHeight) : document.body.scrollTop +(document.body.clientHeight-this.clientHeight));
}

#footpanel ul {
	padding: 0;
	margin: 0;
	float: left;
	width: 100%;
	list-style: none;
	border-top: 1px solid #fff; /* gives the bevel feel on the panel */
	font-size: 1.1em;
}

#footpanel ul li {
	padding: 0;
	margin: 0;
	float: left;
	position: relative;
}

#footpanel ul li a {
	padding: 5px;
	float: left;
	text-indent: -9999px; /*for text replacement, shove text off the page */
	height: 16px;
	width: 16px;
	text-decoration: none;
	color: #333;
	position: relative;
}

html #footpanel ul li a:hover { background-color: #fff; }

/* Active state when sub-panel is open */
html #footpanel ul li a.active {
	background-color: #fff;
	height: 17px;
	margin-top: -2px; /* push it up 2px to attach the active button to the sub-panel */
	border: 1px solid #555;
	border-top: none;
	z-index: 200; /* keeps the active link on top of the sub-panel */
	position: relative;
}

#footpanel a.home {
	background: url(home.png) no-repeat 15px center;
	width: 50px;
	padding-left: 40px;
	border-right: 1px solid #bbb;
	text-indent: 0; /*reset text indent since there will be a combination of both text & image */
}

a.alerts {
	background: url(newspaper.png) no-repeat center center; 
}

#footpanel a.chat {
	background: url(balloon.png) no-repeat 15px center;
	width: 126px;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
	padding-left: 40px;
	text-indent: 0; /* reset text indent since there will be a combination of both text & images */
}

#footpanel li#chatpanel, #footpanel li#alertpanel {
	float: right;
}

/* style the tooltip bubble. By default the <small> tag will be hidden with a display:none;.
On hover, allow the tooltip to appear with a display:block; */
#footpanel a small {
	text-align: center;
	width: 70px;
	background: url(pop_arrow.gif) no-repeat center bottom;
	padding: 5px 5px 11px;
	display: none; /* hide by default */
	color: #fff;
	font-size: 1em;
	text-indent: 0;
}

#footpanel a:hover small {
	display: block; /* show on hover */
	position: absolute;
	top: -35px; /* position tooltip 35px above the list item */
	left: 50%;
	margin-left: -40px; /* center the tooltip */
	z-index 9999;
}

/* reset link style for sub-panel links */
#footpanel ul li div a {
	text-indent: 0;
	width: auto;
	height: auto;
	padding: 0;
	float: none;
	color: #00629a;
	position: static;
}
/* reset hover style for sub-panel links */
#footpanel ul li div a:hover { text-decoration: underline; }