<select id="caseDto.contactInfo">
	<option value=""></option>
	<option value="243526">Test1</option>
	<option value="2327">test2</option>
	<option value="252726">Jooky</option>
	<option value="895656">Junk</option>
	<option value="899133">Caffeine</option>
	<option value="338688">Amphetamines</option>
</select>
<!--how can I do this with JSON?-->