#skyline {
	width: 400px;
	height: 200px;
	background: url(../images/test-3.jpg);
	margin: 10px auto;
	padding: 0;
	position: relative;
}

#skyline li {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	top: 0;
}

#skyline li, #skyline a {
	height: 200px;
	display: block;
}

/* set the initial postion and arrangement of the list items */
#panel1b {
	left: 0;
	width: 95px;
}
#panel2b {
	left: 96px;
	width: 75px;
}
#panel3b {
	left: 172px;
	width: 110px;
}
#panel4b {
	left: 283px;
	width: 117px;
}

/*create the :hover states for the list items
 * Think of the top edge of the link as the starting point, or 0. 
 * To position the background image 200 pixels above this point, it makes sense to move the starting point -200px.
 */
#panel1b a:hover {
	background: transparent url(../images/test-3.jpg) 0 -200px no-repeat;
}
#panel2b a:hover {
	background: transparent url(../images/test-3.jpg) -96px -200px no-repeat;
}
#panel3b a:hover {
	background: transparent url(../images/test-3.jpg) -172px -200px no-repeat;
}
#panel4b a:hover {
	background: transparent url(../images/test-3.jpg) -283px -200px no-repeat;
}