.nav {
	width: 401px;
	height: 48px;
	background: url(../images/blue-nav.gif) no-repeat;
	position: absolute;
	top: 100px;
	left: 100px;
}

.nav li {
	display: inline;
}

.nav li a:link, .nav li a:visited  {
	position: absolute;
	top: 0;
	height: 48px;
	text-indent: -9000px;
	overflow: hidden;
}
/* Home button */
.nav-home {
	position: absolute;
	top: 0;
	left: 23px;
	width: 76px;
	height: 48px;
	background: url(../images/blue-nav.gif) no-repeat -23px -49px;
}
.nav .home a:link, .nav .home a:visited {
	left: 23px;
	width: 76px;
}
.nav .home a:hover, .nav .home a:focus {
	background: url(../images/blue-nav.gif) no-repeat -23px -49px;
}
.nav .home a:active {
	background: url(../images/blue-nav.gif) no-repeat -23px -98px;
}
.current-home .home a:link, .current-home .home a:visited {
    background: url(../images/blue-nav.gif) no-repeat scroll -23px -147px transparent;
    cursor: default;
}

/* About button */
.nav .about a:link, .nav .about a:visited {
	left: 100px;
	width: 82px;
}
.nav .about a:hover, .nav .about a:focus {
	background: url(../images/blue-nav.gif) no-repeat -100px -49px;
}
.nav .about a:active {
	background: url(../images/blue-nav.gif) no-repeat -100px -98px;
}
.current-about .about a:link, .current-about .about a:visited {
    background: url(../images/blue-nav.gif) no-repeat scroll -100px -147px transparent;
    cursor: default;
}
/* Services button */
.nav .services a:link, .nav .services a:visited {
	left: 183px;
	width: 97px;
}
.nav .services a:hover, .nav .services a:focus {
	background: url(../images/blue-nav.gif) no-repeat scroll -183px -49px;
}
.nav .services a:active {
	background: url(../images/blue-nav.gif) no-repeat scroll -183px -98px transparent;
}
.current-services .services a:link, .current-services .services a:visited {
    background: url(../images/blue-nav.gif) no-repeat scroll -183px -147px transparent;
    cursor: default;
}

/* Contact button */
.nav .contact a:link, .nav .contact a:visited {
    left: 281px;
    width: 97px;
}
.nav .contact a:hover, .nav .contact a:focus {
    background: url(../images/blue-nav.gif) no-repeat scroll -281px -49px transparent;
}
.nav .contact a:active {
    background: url(../images/blue-nav.gif) no-repeat scroll -281px -98px transparent;
}
.current-contact .contact a:link, .current-contact .contact a:visited {
    background: url(../images/blue-nav.gif) no-repeat scroll -281px -147px transparent;
    cursor: default;
}

