.calSample {
	width:	300px;
	padding: 1em;
}

.sampleOne {
	background-color: #ccccff;
	float: left;
}
.sampleTwo {
	background-color: #ffcccc;
	float: left;
}
.sampleThree {
	background-color: #ffcc99;
	float: left;
}