@charset "ISO-8859-1";

.block {
	width: 					200px;
	height: 				200px;
	border:					1px;
}
.dukeText {
	color:					#a0a0a0;
	font-weight:			bold;
}
.float {
	float:					left;
}
.pink { background: 			#ee3e64; }
.blue { background: 			#44accf; }
.green { background: 		#b7d84b; }
.fgImage {
	width:					300px;
}
.bgImage2 {
	width:					200px;
	height:					100px;
	background:				url("../images/duke_nf_balls.jpg") center;
}
