#siteIdStatus {
	position: relative;
	width: 150px;
	height: 50px;
	color: white;
	text-align: center;
	background-color: #7DBA00;
}

.section {
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom: 2px solid #517900;
}
.loading {
	background: transparent url("../images/loader.gif") no-repeat center;
}
