@CHARSET "ISO-8859-1";

body {
	font-size: small;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	line-height: 1.6em;
}

h1, h2 {
	color: #007e7e;
}

h1 {
	font-size: 150%;
}

h2 {
	font-size: 130%;
}

#guarantee {
	border-color: black;
	border-width: 1px;
	border-style: solid;
	background-color: #a7cece;
	/* order matters here: if you switch the order, 
	 * then you'll set the padding for the left side
	 * first, and then the general padding property will
	 * set all sides back to 25 pixels, including the
	 * left side!*/
	padding: 25px;
	padding-left: 80px;

	margin: 30px;
	margin-right: 250px;
	line-height: 1.9em;
	font-style: italic;
	color: #444444;
	font-family: Georgia,"Times New Roman", Times, serif;
	background-image: url(../images/background.gif);
	background-repeat: no-repeat;
	background-position: top left;
	border-style: dashed;
	border-color: white;
}
